#logo {
  height: 170px;
  /* background: url('../img/rippl.png') left bottom no-repeat; */
  font-size: 10px;
  line-height: 10px;
  margin-top: 0;
  position: relative;
  top: -20px;
}

#logo canvas {
  position: absolute;
  left: 0;
  bottom: 0;
}

h3 {
  margin-top: 50px;
}

h4 {
  padding-top: 15px;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

h4 code, h3 code {
  font-weight: normal;
  position: relative;
  top: -2px;
}

h5 {
  margin-bottom: 0;
}

.row-download {
  margin-bottom: 10px;
}

.download-description {
  line-height: 44px;
}

.indented {
  padding-left: 10px;
}